userlist {
	.user-list {
		margin: 0;
		padding: 0;
		.user-item {
			padding: 8px;
			font-size: 12px;
			border-bottom: 1px solid fade(@white, 100%);
			color: @grey;
			cursor: pointer;
			outline: none;
			.handle {
				font-size: 16px;
			}
			&.online {
				.handle {
					color: darken(@green, 5%);
					font-weight: bold;
					.fa-tag {
						color: fade(@green, 50%);	
					}
				}
			}
			&.idle {
				.handle {
					color: darken(@green, 5%);
					font-style: italic;
					font-weight: normal;
					.fa-tag {
						color: fade(@green, 50%);	
					}
				}
			}
			&.offline {
				.handle {
					color: @grey;
					font-style: italic;
					.fa-tag {
						color: fade(@grey, 25%);	
					}
				}
			}
			.status {
				font-style: italic;
			}
			.rating {
				font-style: italic;
				padding: 4px 0 2px;
				.arrow {
					float: left;
					width: 0;
					height: 0;
					border-style: solid;
				}
				.amount {
					float: left;
					line-height: 10px;
					margin-right: 2px;
				}
				.likes {
					display: inline-block;
					.arrow {
						border-width: 0 6px 10.4px 6px;
	    				border-color: transparent transparent @light-grey transparent;
					}
				}
				.dislikes {
					display: inline-block;
					.arrow {
						border-width: 10.4px 6px 0 6px;
						border-color: @light-grey transparent transparent transparent;
					}
				}
			}
			&:hover {
				background-color: fade(@light-blue, 15%);
			}
		}
	}
	.user-detail {
		.action-container {
			.md-button:first-child {
				margin-left: 0;
			}
			.md-button:last-child {
				margin-right: 0;
			}
		}
	}
}