<post-form layout="row" layout-align="center end"></post-form>

<sticky ng-repeat="sticky in board.stickies"></sticky>

<thread 
	dir-paginate="thread in board.threads | itemsPerPage: board.perPage" 
	total-items="board.threadCount" 
	layout="column" 
	flex>
</thread>

<dir-pagination-controls
	max-size="speakeasy.media('gt-sm') ? '9' : '5'"
	on-page-change="board.pageChanged(newPageNumber)">
</dir-pagination-controls>

<div ng-if="!speakeasy.isLoggedIn" class="timeout-overlay">
	<div class="center-screen">
		<div class="cell">
			<md-content class="dialogue">
				<p>your session has timed out.</p>
				<p>please <a href="/login">login</a> to continue.</p>
			</md-content>
		</div>
	</div>
</div>