<div class="post-controls" layout="row">
	<div class="voting-controls">
		<div class="likes">
			<div class="amount">{{postControls.getVotes(content, parent).ups}}</div>
			<div class="arrow"
				ng-class="{'disabled': postControls.voteProcessing}" 
				ng-click="postControls.submitVote($event, content, 'U', parent._id)">
			</div>
		</div>
		<div class="dislikes">
			<div class="arrow"
				ng-class="{'disabled': postControls.voteProcessing}" 
				ng-click="postControls.submitVote($event, content, 'D', parent._id)">
			</div>
			<div class="amount">{{postControls.getVotes(content, parent).downs}}</div>
		</div>
	</div>

	<md-button ng-click="postControls.quote(content)">Quote</md-button>
	
	<span flex></span>
	
	<md-button 
		ng-if="!!content.comments && postControls.foldedComments > 0" 
		ng-click="postControls.collapseComments(content)">
		{{postControls.btnCollapse}}
	</md-button>
	
</div>