<md-content>
	<ul layout="column" class="user-list">
		<li class="user-item" 
			ng-repeat="user in userlist.users | orderBy:['-status.online', 'status.idle']" 
			ng-class="{idle: user.status.idle, online: user.status.online && !user.status.idle, offline: !user.status.online}">

			<div class="handle">{{user.profile.handle}}</div>

			<div class="status" ng-if="user.status.idle">
				idle for {{userlist.getTime(user.status.lastActivity)}}
			</div>
			<div class="status" ng-if="user.status.online && !user.status.idle">
				online for {{userlist.getTime(user.status.lastLogin.date)}}
			</div>
			<div class="status" ng-if="!user.status.online">
				last seen {{userlist.getTime(user.status.logoutTime)}} ago
			</div>
			<!-- <div>{{user}}</div> -->

		</li>
	</ul>
</md-content>
