<li class="user-item" 
	ng-class="userlistItem.status"
	ng-click="userlistItem.showDetailView(user, userlist)">
	<div class="handle">
		<span>{{user.profile.handle}}</span>
		<i class="fa fa-tag" aria-hidden="true" ng-if="!!userlistItem.getUserTag(user)"></i>
	</div>
	<div class="rating">
		<div class="likes">
			<div class="amount">{{userlistItem.getVotes(user, 'U')}}</div>
			<div class="arrow"></div>
		</div>
		<div class="dislikes">	
			<div class="amount">{{userlistItem.getVotes(user, 'D')}}</div>
			<div class="arrow"></div>
		</div>
	</div>
	<div class="status">{{userlistItem.getStatus(user)}}</div>
</li>